/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light-a320 {
  --border-width-border-width-width-xs-1: 1px;
  --border-width-border-width-width-sm-1-5: 1.5px;
  --border-width-border-width-width-md-2: 2px;
  --border-width-border-width-width-lg-2-5: 2.5px;
  --border-width-border-width-width-xl-3: 3px;
}