/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-b1cd {
  --dimension-line-height-headers-header-7: 44px;
  --dimension-color-primary-test-test-bold1: 300px;
  --dimension-test-bold1-2: 400px;
  --dimension-test-bold1-3: 700px;
  --dimension-test-bold1-4: 600px;
  --dimension-line-height-headers-testing-scope-nora: 20px;
  --dimension-style-number: 0px;
  --dimension-color-remove-one-by-one: var(--opacity-hover);
}