/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-b1cd {
  --line-height-line-height-text-xs: 18px;
  --line-height-line-height-text-sm: 20px;
  --line-height-line-height-text-md: 24px;
  --line-height-line-height-text-lg: 28px;
  --line-height-line-height-text-xl: 30px;
  --line-height-line-height-headers-header-6: 32px;
  --line-height-line-height-headers-header-5: 38px;
  --line-height-line-height-headers-header-3: 60px;
  --line-height-line-height-headers-header-2: 72px;
  --line-height-line-height-headers-header-1: 90px;
  --line-height-line-height-headers-testing-scope-nora2: 20px;
}