/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --letter-spacing-typography-letter-spacing-000: 0px;
  --letter-spacing-typography-letter-spacing-022: 0.22px;
  --letter-spacing-typography-letter-spacing-030: 0.3px;
  --letter-spacing-typography-letter-spacing-035: 0.35px;
  --letter-spacing-typography-letter-spacing-040: 0.4px;
  --letter-spacing-typography-letter-spacing-045: 0.45px;
  --letter-spacing-typography-letter-spacing-050: 0.5px;
  --letter-spacing-typography-letter-spacing-060: 0.6px;
}