/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --size-size-4: 4px;
  --size-size-6: 6px;
  --size-size-8: 8px;
  --size-size-12: 12px;
  --size-size-16: 16px;
  --size-size-20: 20px;
  --size-size-24: 24px;
  --size-size-28: 28px;
  --size-size-32: 32px;
  --size-size-36: 36px;
  --size-size-40: 40px;
  --size-size-44: 44px;
  --size-size-48: 48px;
  --size-size-52: 52px;
  --size-size-64: 64px;
  --size-size-104: 104px;
  --size-size-128: 128px;
  --size-size-144: 144px;
  --size-size-160: 160px;
  --size-size-192: 192px;
  --size-size-224: 224px;
  --size-size-228: 228px;
  --size-size-256: 256px;
  --size-size-320: 320px;
  --size-size-368: 368px;
  --size-size-408: 408px;
  --size-size-480: 480px;
  --size-size-568: 568px;
  --size-size-740: 740px;
  --size-size-768: 768px;
  --size-size-932: 932px;
  --size-size-1440: 1440px;
  --size-size-1920: 1920px;
  --size-size-button-pill-sm-hovered-height: 33.6px;
  --size-size-button-pill-md-hovered-height: 42px;
  --size-size-button-pill-lg-hovered-height: 50.4px;
  --size-size-button-circle-sm-hovered-square: 33.6px;
  --size-size-button-circle-md-hovered-square: 42px;
  --size-size-button-circle-lg-hovered-square: 50.4px;
  --size-size-checkbox-sm-hovered-square: 16.8px;
  --size-size-checkbox-lg-hovered-square: 33.6px;
  --size-size-radio-sm-hovered-square: 16.8px;
  --size-size-radio-lg-hovered-square: 33.6px;
  --size-size-toggle-knob-sm-hovered-square: 21px;
  --size-size-toggle-knob-lg-hovered-square: 29.4px;
  --size-size-breakpoint-xsm: var(--size-size-320);
  --size-size-breakpoint-sm: var(--size-size-568);
  --size-size-breakpoint-md: var(--size-size-740);
  --size-size-breakpoint-lg: var(--size-size-932);
  --size-size-breakpoint-xlg: var(--size-size-1440);
  --size-size-breakpoint-xxlg: var(--size-size-1920);
  --size-size-badge-base-sm-height: var(--size-size-16);
  --size-size-button-pill-sm-default-height: var(--size-size-32);
  --size-size-button-pill-md-default-height: var(--size-size-40);
  --size-size-button-pill-lg-default-height: var(--size-size-48);
  --size-size-button-pill-xlg-default-height: var(--size-size-64);
  --size-size-button-circle-sm-default-square: var(--size-size-32);
  --size-size-button-circle-md-default-square: var(--size-size-40);
  --size-size-button-circle-lg-default-square: var(--size-size-48);
  --size-size-button-circle-xlg-default-square: var(--size-size-64);
  --size-size-button-progress-sm-height: var(--size-size-32);
  --size-size-button-progress-lg-height: var(--size-size-48);
  --size-size-button-endcard-height: var(--size-size-48);
  --size-size-card-base-16-9-xxsm-width: var(--size-size-160);
  --size-size-carousel-row-xsm-width: var(--size-size-breakpoint-xsm);
  --size-size-carousel-row-md-width: var(--size-size-breakpoint-md);
  --size-size-carousel-row-xlg-width: var(--size-size-breakpoint-xlg);
  --size-size-carousel-row-xxlg-width: var(--size-size-breakpoint-xxlg);
  --size-size-card-base-16-9-xsm-width: var(--size-size-192);
  --size-size-card-base-16-9-sm-width: var(--size-size-224);
  --size-size-card-base-16-9-md-width: var(--size-size-256);
  --size-size-card-base-16-9-lg-width: var(--size-size-368);
  --size-size-card-base-16-9-xlg-width: var(--size-size-480);
  --size-size-card-base-16-9-xxlg-width: var(--size-size-768);
  --size-size-card-base-2-3-sm-width: var(--size-size-128);
  --size-size-card-base-2-3-md-width: var(--size-size-144);
  --size-size-card-base-2-3-lg-width: var(--size-size-160);
  --size-size-card-base-2-3-xlg-width: var(--size-size-192);
  --size-size-card-base-1-1-sm-square: var(--size-size-160);
  --size-size-card-base-1-1-md-square: var(--size-size-192);
  --size-size-card-base-1-1-lg-square: var(--size-size-224);
  --size-size-card-base-1-1-xlg-square: var(--size-size-256);
  --size-size-card-cta-16-9-xxsm-width: var(--size-size-160);
  --size-size-card-cta-16-9-xsm-width: var(--size-size-192);
  --size-size-card-cta-16-9-sm-width: var(--size-size-224);
  --size-size-card-cta-16-9-md-width: var(--size-size-256);
  --size-size-card-cta-16-9-lg-width: var(--size-size-368);
  --size-size-card-cta-16-9-xlg-width: var(--size-size-480);
  --size-size-card-cta-16-9-xxlg-width: var(--size-size-768);
  --size-size-card-cta-2-3-sm-width: var(--size-size-128);
  --size-size-card-cta-2-3-md-width: var(--size-size-144);
  --size-size-card-cta-2-3-lg-width: var(--size-size-160);
  --size-size-card-cta-2-3-xlg-width: var(--size-size-192);
  --size-size-card-cta-1-1-sm-square: var(--size-size-160);
  --size-size-card-cta-1-1-md-square: var(--size-size-192);
  --size-size-card-cta-1-1-lg-square: var(--size-size-224);
  --size-size-card-cta-1-1-xlg-square: var(--size-size-256);
  --size-size-checkbox-sm-default-square: var(--size-size-16);
  --size-size-checkbox-lg-default-square: var(--size-size-32);
  --size-size-form-feedback-height: var(--size-size-52);
  --size-size-badge-base-md-height: var(--size-size-24);
  --size-size-badge-base-lg-height: var(--size-size-32);
  --size-size-badge-base-live-indicator-dot-sm-square: var(--size-size-4);
  --size-size-badge-base-live-indicator-dot-md-square: var(--size-size-6);
  --size-size-badge-base-live-indicator-dot-lg-square: var(--size-size-8);
  --size-size-badge-a11y-xsm-height: var(--size-size-12);
  --size-size-badge-a11y-sm-height: var(--size-size-16);
  --size-size-badge-a11y-md-height: var(--size-size-16);
  --size-size-badge-a11y-lg-height: var(--size-size-32);
  --size-size-input-height: var(--size-size-104);
  --size-size-input-icon-square: var(--size-size-32);
  --size-size-input-icon-trigger-square: var(--size-size-48);
  --size-size-page-control-sm-square: var(--size-size-8);
  --size-size-page-control-lg-square: var(--size-size-20);
  --size-size-progress-bar-sm-height: var(--size-size-6);
  --size-size-progress-bar-lg-height: var(--size-size-12);
  --size-size-qr-code-sm-square: var(--size-size-228);
  --size-size-qr-code-md-square: var(--size-size-408);
  --size-size-qr-code-lg-square: var(--size-size-568);
  --size-size-radio-sm-default-square: var(--size-size-16);
  --size-size-radio-lg-default-square: var(--size-size-32);
  --size-size-tabs-item-sm-height: var(--size-size-32);
  --size-size-tabs-item-md-height: var(--size-size-48);
  --size-size-tabs-item-lg-height: var(--size-size-64);
  --size-size-toggle-knob-sm-default-square: var(--size-size-20);
  --size-size-toggle-track-sm-width: var(--size-size-36);
  --size-size-toggle-knob-lg-default-square: var(--size-size-28);
  --size-size-toggle-track-sm-height: var(--size-size-16);
  --size-size-toggle-track-lg-width: var(--size-size-44);
  --size-size-toggle-track-lg-height: var(--size-size-20);
  --size-size-carousel-hero-xsm-width: var(--size-size-breakpoint-xsm);
  --size-size-carousel-hero-md-width: var(--size-size-breakpoint-md);
  --size-size-carousel-hero-lg-width: var(--size-size-breakpoint-lg);
  --size-size-carousel-hero-xlg-width: var(--size-size-breakpoint-xlg);
  --size-size-carousel-hero-xxlg-width: var(--size-size-breakpoint-xxlg);
}