/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --string-font-family-font1: "Inter";
  --string-font-family-font-italic: "Poppins-italic";
  --string-font-weight-string: "String value";
  --string-style-font1: "Inter";
}