/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --border-width-border-width-none: 0px;
  --border-width-border-width-sm: 1px;
  --border-width-border-width-md: 2px;
  --border-width-border-width-lg: 4px;
  --border-width-border-width-badge-sm-width: var(--border-width-border-width-sm);
  --border-width-border-width-badge-lg-width: var(--border-width-border-width-md);
  --border-width-border-width-button-width: var(--border-width-border-width-md);
  --border-width-border-width-checkbox-sm-width: var(--border-width-border-width-md);
  --border-width-border-width-checkbox-lg-width: var(--border-width-border-width-lg);
  --border-width-border-width-outline-sm-width: var(--border-width-border-width-md);
  --border-width-border-width-outline-lg-width: var(--border-width-border-width-lg);
  --border-width-border-width-radio-sm-width: var(--border-width-border-width-md);
  --border-width-border-width-radio-lg-width: var(--border-width-border-width-lg);
  --border-width-border-width-input-width: var(--border-width-border-width-lg);
}