/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --border-radius-border-radius-none: 0px;
  --border-radius-border-radius-xsm: 2px;
  --border-radius-border-radius-sm: 4px;
  --border-radius-border-radius-md: 8px;
  --border-radius-border-radius-lg: 12px;
  --border-radius-border-radius-xlg: 16px;
  --border-radius-border-radius-pill: 1000px;
  --border-radius-border-radius-outline-rectangle-sm-radius: 6px;
  --border-radius-border-radius-badge-base-sm-radius: var(--border-radius-border-radius-xsm);
  --border-radius-border-radius-badge-base-md-radius: var(--border-radius-border-radius-sm);
  --border-radius-border-radius-badge-base-lg-radius: var(--border-radius-border-radius-md);
  --border-radius-border-radius-badge-a11y-xsm-radius: var(--border-radius-border-radius-xsm);
  --border-radius-border-radius-badge-a11y-sm-radius: var(--border-radius-border-radius-xsm);
  --border-radius-border-radius-badge-a11y-md-radius: var(--border-radius-border-radius-sm);
  --border-radius-border-radius-badge-a11y-lg-radius: var(--border-radius-border-radius-md);
  --border-radius-border-radius-button-circle-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-button-pill-sm-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-button-pill-md-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-button-pill-lg-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-button-pill-xlg-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-button-progress-x-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-button-progress-container-radius: var(--border-radius-border-radius-xsm);
  --border-radius-border-radius-card-base-image-container-sm-radius: var(--border-radius-border-radius-sm);
  --border-radius-border-radius-card-base-image-container-lg-radius: var(--border-radius-border-radius-md);
  --border-radius-border-radius-card-base-check-icon-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-card-base-selected-overlay-sm-radius: var(--border-radius-border-radius-sm);
  --border-radius-border-radius-card-base-selected-overlay-lg-radius: var(--border-radius-border-radius-md);
  --border-radius-border-radius-card-cta-sm-radius: var(--border-radius-border-radius-sm);
  --border-radius-border-radius-card-cta-lg-radius: var(--border-radius-border-radius-md);
  --border-radius-border-radius-checkbox-sm-radius: var(--border-radius-border-radius-xsm);
  --border-radius-border-radius-checkbox-lg-radius: var(--border-radius-border-radius-sm);
  --border-radius-border-radius-form-feedback-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-outline-pill-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-outline-circle-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-outline-rectangle-lg-radius: var(--border-radius-border-radius-lg);
  --border-radius-border-radius-page-control-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-progress-bar-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-qr-code-radius: var(--border-radius-border-radius-xlg);
  --border-radius-border-radius-radio-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-tabs-item-top-radius: var(--border-radius-border-radius-md);
  --border-radius-border-radius-toggle-knob-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-toggle-track-radius: var(--border-radius-border-radius-pill);
  --border-radius-border-radius-tooltip-radius: var(--border-radius-border-radius-md);
}