/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --dimension-spacing-2: 2px;
  --dimension-spacing-4: 4px;
  --dimension-spacing-8: 8px;
  --dimension-spacing-12: 12px;
  --dimension-spacing-16: 16px;
  --dimension-spacing-20: 20px;
  --dimension-spacing-24: 24px;
  --dimension-spacing-28: 28px;
  --dimension-spacing-32: 32px;
  --dimension-spacing-40: 40px;
  --dimension-spacing-48: 48px;
  --dimension-spacing-56: 56px;
  --dimension-spacing-64: 64px;
  --dimension-spacing-72: 72px;
  --dimension-spacing-80: 80px;
  --dimension-spacing-96: 96px;
  --dimension-spacing-112: 112px;
  --dimension-spacing-128: 128px;
  --dimension-spacing-144: 144px;
  --dimension-spacing-160: 160px;
  --dimension-spacing-176: 176px;
  --dimension-spacing-192: 192px;
  --dimension-typography-font-size-8: 8px;
  --dimension-typography-font-size-10: 10px;
  --dimension-typography-font-size-12: 12px;
  --dimension-typography-font-size-14: 14px;
  --dimension-typography-font-size-16: 16px;
  --dimension-typography-font-size-18: 18px;
  --dimension-typography-font-size-20: 20px;
  --dimension-typography-font-size-24: 24px;
  --dimension-typography-font-size-28: 28px;
  --dimension-typography-font-size-32: 32px;
  --dimension-typography-font-size-40: 40px;
  --dimension-typography-font-size-48: 48px;
  --dimension-typography-font-size-60: 60px;
  --dimension-typography-font-size-96: 96px;
  --dimension-typography-font-size-120: 120px;
  --dimension-typography-font-size-136: 136px;
  --dimension-typography-font-weight-light: 300px;
  --dimension-typography-font-weight-regular: 400px;
  --dimension-typography-font-weight-medium: 500px;
  --dimension-typography-font-weight-semi-bold: 600px;
  --dimension-typography-font-weight-bold: 700px;
  --dimension-typography-letter-spacing-000: 0px;
  --dimension-typography-letter-spacing-022: 0.22px;
  --dimension-typography-letter-spacing-030: 0.3px;
  --dimension-typography-letter-spacing-035: 0.35px;
  --dimension-typography-letter-spacing-040: 0.4px;
  --dimension-typography-letter-spacing-045: 0.45px;
  --dimension-typography-letter-spacing-050: 0.5px;
  --dimension-typography-letter-spacing-060: 0.6px;
  --dimension-typography-line-height-8: 8px;
  --dimension-typography-line-height-12: 12px;
  /* Use this token for (display) headings only. */
  --dimension-typography-paragraph-spacing-0: 0px;
  --dimension-typography-paragraph-spacing-16: 16px;
  /* WCAG 2.1 Accessibility Guidelines: Spacing following paragraphs should be at least 2x the font size. */
  --dimension-typography-paragraph-spacing-18: 18px;
  --dimension-typography-paragraph-spacing-20: 20px;
  /* WCAG 2.1 Accessibility Guidelines: Spacing following paragraphs should be at least 2x the font size. */
  --dimension-typography-paragraph-spacing-24: 24px;
  --dimension-typography-paragraph-spacing-28: 28px;
  --dimension-typography-paragraph-spacing-32: 32px;
  /* WCAG 2.1 Accessibility Guidelines: Spacing following paragraphs should be at least 2x the font size. */
  --dimension-typography-paragraph-spacing-36: 36px;
  /* WCAG 2.1 Accessibility Guidelines: Spacing following paragraphs should be at least 2x the font size. */
  --dimension-typography-paragraph-spacing-48: 48px;
  /* WCAG 2.1 Accessibility Guidelines: Spacing following paragraphs should be at least 2x the font size. */
  --dimension-typography-paragraph-spacing-56: 56px;
  --dimension-typography-line-height-16: 16px;
  --dimension-typography-line-height-20: 20px;
  --dimension-typography-line-height-24: 24px;
  --dimension-typography-line-height-28: 28px;
  --dimension-typography-line-height-32: 32px;
  --dimension-typography-line-height-36: 36px;
  --dimension-typography-line-height-40: 40px;
  --dimension-typography-line-height-44: 44px;
  --dimension-typography-line-height-48: 48px;
  --dimension-typography-line-height-56: 56px;
  --dimension-typography-line-height-68: 68px;
  --dimension-typography-line-height-88: 88px;
  --dimension-typography-line-height-96: 96px;
  --dimension-typography-line-height-120: 120px;
  --dimension-typography-line-height-152: 152px;
  --dimension-border-radius-none: 0px;
  --dimension-border-radius-xsm: 2px;
  --dimension-border-radius-sm: 4px;
  --dimension-border-radius-md: 8px;
  --dimension-border-radius-lg: 12px;
  --dimension-border-radius-xlg: 16px;
  --dimension-border-radius-pill: 1000px;
  --dimension-shadows-2dp-x: 0px;
  --dimension-shadows-2dp-y: 1px;
  --dimension-shadows-2dp-blur: 1px;
  --dimension-shadows-2dp-spread: 0px;
  --dimension-shadows-4dp-1-x: 0px;
  --dimension-shadows-4dp-1-y: 2px;
  --dimension-shadows-4dp-1-blur: 3px;
  --dimension-shadows-4dp-1-spread: -1px;
  --dimension-shadows-4dp-2-x: 0px;
  --dimension-shadows-4dp-2-y: 2px;
  --dimension-shadows-4dp-2-blur: 2px;
  --dimension-shadows-4dp-2-spread: -1px;
  --dimension-shadows-8dp-1-x: 0px;
  --dimension-shadows-8dp-1-y: 4px;
  --dimension-shadows-8dp-1-blur: 6px;
  --dimension-shadows-8dp-1-spread: -1px;
  --dimension-shadows-8dp-2-x: 0px;
  --dimension-shadows-8dp-2-y: 2px;
  --dimension-shadows-8dp-2-blur: 4px;
  --dimension-shadows-8dp-2-spread: -1px;
  --dimension-shadows-12dp-1-x: 0px;
  --dimension-shadows-12dp-1-y: 10px;
  --dimension-shadows-12dp-1-blur: 15px;
  --dimension-shadows-12dp-1-spread: -3px;
  --dimension-shadows-12dp-2-x: 0px;
  --dimension-shadows-12dp-2-y: 4px;
  --dimension-shadows-12dp-2-blur: 6px;
  --dimension-shadows-12dp-2-spread: -2px;
  --dimension-shadows-16dp-1-x: 0px;
  --dimension-shadows-16dp-1-y: 20px;
  --dimension-shadows-16dp-1-blur: 25px;
  --dimension-shadows-16dp-1-spread: -5px;
  --dimension-shadows-16dp-2-x: 0px;
  --dimension-shadows-16dp-2-y: 10px;
  --dimension-shadows-16dp-2-blur: 10px;
  --dimension-shadows-16dp-2-spread: -5px;
  --dimension-shadows-24dp-1-x: 0px;
  --dimension-shadows-24dp-1-y: 25px;
  --dimension-shadows-24dp-1-blur: 50px;
  --dimension-shadows-24dp-1-spread: -12px;
  --dimension-border-width-none: 0px;
  --dimension-border-width-sm: 1px;
  --dimension-border-width-md: 2px;
  --dimension-border-width-lg: 4px;
  --dimension-opacity-000: 0px;
  --dimension-opacity-010: 10px;
  --dimension-opacity-020: 20px;
  --dimension-opacity-030: 30px;
  --dimension-opacity-040: 40px;
  --dimension-opacity-050: 50px;
  --dimension-opacity-060: 60px;
  --dimension-opacity-070: 70px;
  --dimension-opacity-080: 80px;
  --dimension-opacity-090: 90px;
  --dimension-opacity-100: 100px;
  --dimension-size-4: 4px;
  --dimension-size-6: 6px;
  --dimension-size-8: 8px;
  --dimension-size-12: 12px;
  --dimension-size-16: 16px;
  --dimension-size-20: 20px;
  --dimension-size-24: 24px;
  --dimension-size-28: 28px;
  --dimension-size-32: 32px;
  --dimension-size-36: 36px;
  --dimension-size-40: 40px;
  --dimension-size-44: 44px;
  --dimension-size-48: 48px;
  --dimension-size-52: 52px;
  --dimension-size-64: 64px;
  --dimension-size-104: 104px;
  --dimension-size-128: 128px;
  --dimension-size-144: 144px;
  --dimension-size-160: 160px;
  --dimension-size-192: 192px;
  --dimension-size-224: 224px;
  --dimension-size-228: 228px;
  --dimension-size-256: 256px;
  --dimension-size-320: 320px;
  --dimension-size-368: 368px;
  --dimension-size-408: 408px;
  --dimension-size-480: 480px;
  --dimension-size-568: 568px;
  --dimension-size-740: 740px;
  --dimension-size-768: 768px;
  --dimension-size-932: 932px;
  --dimension-size-1440: 1440px;
  --dimension-size-1920: 1920px;
  --dimension-spacing-button-pill-sm-hovered-gap: 8.4px;
  --dimension-spacing-button-pill-sm-hovered-x-padding: 16.8px;
  --dimension-spacing-button-pill-sm-hovered-y-padding: 8.4px;
  --dimension-spacing-button-pill-md-default-y-padding: 10px;
  --dimension-spacing-button-pill-md-hovered-gap: 8.4px;
  --dimension-spacing-button-pill-md-hovered-x-padding: 21px;
  --dimension-spacing-button-pill-md-hovered-y-padding: 10.5px;
  --dimension-spacing-button-pill-lg-hovered-gap: 12.6px;
  --dimension-spacing-button-pill-lg-hovered-x-padding: 25.2px;
  --dimension-spacing-button-pill-lg-hovered-y-padding: 8.4px;
  --dimension-spacing-carousel-hero-base-x-padding: 120px;
  /* The button hover state is 105% scale, this replicates the default tokens and some math to achieve scale. */
  --dimension-typography-font-size-button-sm-label-hovered: 14.7px;
  /* The button hover state is 105% scale, this replicates the default tokens and some math to achieve scale. */
  --dimension-typography-line-height-button-sm-label-hovered: 16.8px;
  /* The button hover state is 105% scale, this replicates the default tokens and some math to achieve scale. */
  --dimension-typography-font-size-button-md-label-hovered: 16.8px;
  /* The button hover state is 105% scale, this replicates the default tokens and some math to achieve scale. */
  --dimension-typography-line-height-button-md-label-hovered: 16.8px;
  /* The button hover state is 105% scale, this replicates the default tokens and some math to achieve scale. */
  --dimension-typography-font-size-button-lg-label-hovered: 21px;
  /* The button hover state is 105% scale, this replicates the default tokens and some math to achieve scale. */
  --dimension-typography-line-height-button-lg-label-hovered: 21px;
  --dimension-border-radius-outline-rectangle-sm-radius: 6px;
  --dimension-size-button-pill-sm-hovered-height: 33.6px;
  --dimension-size-button-pill-md-hovered-height: 42px;
  --dimension-size-button-pill-lg-hovered-height: 50.4px;
  --dimension-size-button-circle-sm-hovered-square: 33.6px;
  --dimension-size-button-circle-md-hovered-square: 42px;
  --dimension-size-button-circle-lg-hovered-square: 50.4px;
  --dimension-size-checkbox-sm-hovered-square: 16.8px;
  --dimension-size-checkbox-lg-hovered-square: 33.6px;
  --dimension-size-radio-sm-hovered-square: 16.8px;
  --dimension-size-radio-lg-hovered-square: 33.6px;
  --dimension-size-toggle-knob-sm-hovered-square: 21px;
  --dimension-size-toggle-knob-lg-hovered-square: 29.4px;
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-2: var(--dimension-spacing-2);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-4: var(--dimension-spacing-4);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-8: var(--dimension-spacing-8);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-12: var(--dimension-spacing-12);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-16: var(--dimension-spacing-16);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-20: var(--dimension-spacing-20);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-24: var(--dimension-spacing-24);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-32: var(--dimension-spacing-32);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-48: var(--dimension-spacing-48);
  /* Gap spacing between elements inside a component (e.g., space between text label and icon in button). */
  --dimension-spacing-gap-56: var(--dimension-spacing-56);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-2: var(--dimension-spacing-2);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-4: var(--dimension-spacing-4);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-8: var(--dimension-spacing-8);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-12: var(--dimension-spacing-12);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-16: var(--dimension-spacing-16);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-20: var(--dimension-spacing-20);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-24: var(--dimension-spacing-24);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-32: var(--dimension-spacing-32);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-48: var(--dimension-spacing-48);
  /* Used for horizontal and vertical padding on elements. */
  --dimension-spacing-padding-80: var(--dimension-spacing-80);
  --dimension-typography-font-size-display-xsm: var(--dimension-typography-font-size-32);
  --dimension-typography-font-size-display-sm: var(--dimension-typography-font-size-40);
  --dimension-typography-font-size-display-md: var(--dimension-typography-font-size-48);
  --dimension-typography-font-size-display-lg: var(--dimension-typography-font-size-60);
  --dimension-typography-font-size-display-xlg: var(--dimension-typography-font-size-96);
  /* Display headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-display-xsm: var(--dimension-typography-line-height-40);
  --dimension-typography-font-size-display-xxlg: var(--dimension-typography-font-size-136);
  /* Display headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-display-sm: var(--dimension-typography-line-height-44);
  /* Display headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-display-md: var(--dimension-typography-line-height-56);
  /* Display headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-display-lg: var(--dimension-typography-line-height-68);
  /* Display headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-display-xlg: var(--dimension-typography-line-height-120);
  /* Display headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-display-xxlg: var(--dimension-typography-line-height-152);
  --dimension-typography-font-size-heading-xxsm: var(--dimension-typography-font-size-16);
  --dimension-typography-font-size-heading-xsm: var(--dimension-typography-font-size-18);
  --dimension-typography-font-size-heading-sm: var(--dimension-typography-font-size-20);
  --dimension-typography-font-size-heading-md: var(--dimension-typography-font-size-24);
  --dimension-typography-font-size-heading-lg: var(--dimension-typography-font-size-28);
  --dimension-typography-font-size-heading-xlg: var(--dimension-typography-font-size-32);
  --dimension-typography-font-size-heading-xxlg: var(--dimension-typography-font-size-40);
  --dimension-typography-font-size-body-xxxsm: var(--dimension-typography-font-size-8);
  --dimension-typography-font-size-body-xxsm: var(--dimension-typography-font-size-10);
  --dimension-typography-font-size-body-xsm: var(--dimension-typography-font-size-12);
  --dimension-typography-font-size-body-sm: var(--dimension-typography-font-size-14);
  --dimension-typography-font-size-body-md: var(--dimension-typography-font-size-16);
  --dimension-typography-font-size-body-lg: var(--dimension-typography-font-size-18);
  --dimension-typography-font-size-body-xlg: var(--dimension-typography-font-size-20);
  --dimension-typography-font-size-body-xxlg: var(--dimension-typography-font-size-24);
  --dimension-typography-font-size-body-xxxlg: var(--dimension-typography-font-size-28);
  --dimension-typography-font-size-body-xxxxlg: var(--dimension-typography-font-size-32);
  /* Headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-heading-xsm: var(--dimension-typography-line-height-20);
  /* Headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-heading-sm: var(--dimension-typography-line-height-24);
  /* Headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-heading-md: var(--dimension-typography-line-height-32);
  /* Headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-heading-lg: var(--dimension-typography-line-height-36);
  /* Headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-heading-xlg: var(--dimension-typography-line-height-40);
  /* Headings use ~1.25 line height (rounded to the nearest 4pt grid number) */
  --dimension-typography-line-height-heading-xxlg: var(--dimension-typography-line-height-44);
  /* Body text use ~1.5 line height (rounded to the nearest 4pt grid number), aligning with the WCAG 2.1 accessibillity guidelines. */
  --dimension-typography-line-height-body-xxxsm: var(--dimension-typography-line-height-8);
  /* Body text use ~1.5 line height (rounded to the nearest 4pt grid number), aligning with the WCAG 2.1 accessibillity guidelines. */
  --dimension-typography-line-height-body-xxsm: var(--dimension-typography-line-height-12);
  /* Body text use ~1.5 line height (rounded to the nearest 4pt grid number), aligning with the WCAG 2.1 accessibillity guidelines. */
  --dimension-typography-line-height-body-xsm: var(--dimension-typography-line-height-16);
  /* Body text use ~1.5 line height (rounded to the nearest 4pt grid number), aligning with the WCAG 2.1 accessibillity guidelines. */
  --dimension-typography-line-height-body-sm: var(--dimension-typography-line-height-20);
  /* Body text use ~1.5 line height (rounded to the nearest 4pt grid number), aligning with the WCAG 2.1 accessibillity guidelines. */
  --dimension-typography-line-height-body-md: var(--dimension-typography-line-height-24);
  /* Body text use ~1.5 line height (rounded to the nearest 4pt grid number), aligning with the WCAG 2.1 accessibillity guidelines. */
  --dimension-typography-line-height-body-lg: var(--dimension-typography-line-height-28);
  --dimension-typography-line-height-body-xlg: var(--dimension-typography-line-height-32);
  /* Body text use ~1.5 line height (rounded to the nearest 4pt grid number), aligning with the WCAG 2.1 accessibillity guidelines. */
  --dimension-typography-line-height-body-xxlg: var(--dimension-typography-line-height-36);
  /* Body text use ~1.5 line height (rounded to the nearest 4pt grid number), aligning with the WCAG 2.1 accessibillity guidelines. */
  --dimension-typography-line-height-body-xxxlg: var(--dimension-typography-line-height-40);
  --dimension-opacity-enabled: var(--dimension-opacity-060);
  --dimension-opacity-disabled: var(--dimension-opacity-030);
  --dimension-size-breakpoint-xsm: var(--dimension-size-320);
  --dimension-size-breakpoint-sm: var(--dimension-size-568);
  --dimension-size-breakpoint-md: var(--dimension-size-740);
  --dimension-size-breakpoint-lg: var(--dimension-size-932);
  --dimension-size-breakpoint-xlg: var(--dimension-size-1440);
  --dimension-size-breakpoint-xxlg: var(--dimension-size-1920);
  --dimension-spacing-badge-base-sm-gap: var(--dimension-spacing-gap-4);
  --dimension-spacing-badge-base-sm-x-padding: var(--dimension-spacing-padding-4);
  --dimension-spacing-badge-base-sm-y-padding: var(--dimension-spacing-padding-4);
  --dimension-spacing-badge-base-md-gap: var(--dimension-spacing-gap-4);
  --dimension-spacing-badge-base-md-x-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-badge-base-md-y-padding: var(--dimension-spacing-padding-4);
  --dimension-spacing-badge-base-lg-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-badge-base-lg-x-padding: var(--dimension-spacing-padding-12);
  --dimension-spacing-badge-base-lg-y-padding: var(--dimension-spacing-padding-4);
  --dimension-spacing-badge-a11y-xsm-x-padding: var(--dimension-spacing-padding-2);
  --dimension-spacing-badge-a11y-sm-x-padding: var(--dimension-spacing-padding-4);
  --dimension-spacing-badge-a11y-md-x-padding: var(--dimension-spacing-padding-4);
  --dimension-spacing-badge-a11y-lg-x-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-button-pill-sm-default-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-button-pill-sm-default-x-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-button-pill-sm-default-y-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-button-pill-md-default-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-button-pill-md-default-x-padding: var(--dimension-spacing-padding-20);
  --dimension-spacing-button-pill-lg-default-gap: var(--dimension-spacing-gap-12);
  --dimension-spacing-button-pill-lg-default-x-padding: var(--dimension-spacing-padding-24);
  --dimension-spacing-button-pill-lg-default-y-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-button-pill-xlg-default-gap: var(--dimension-spacing-gap-16);
  --dimension-spacing-button-pill-xlg-default-x-padding: var(--dimension-spacing-padding-32);
  --dimension-spacing-button-pill-xlg-default-y-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-button-circle-gap: var(--dimension-spacing-gap-4);
  --dimension-spacing-button-progress-container-gap: var(--dimension-spacing-gap-2);
  --dimension-spacing-button-progress-lead-container-sm-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-button-progress-lead-container-sm-x-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-button-progress-trailing-container-sm-x-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-button-progress-lead-container-lg-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-button-progress-lead-container-lg-x-padding: var(--dimension-spacing-padding-20);
  --dimension-spacing-button-progress-trailing-container-lg-x-padding: var(--dimension-spacing-padding-12);
  --dimension-spacing-button-endcard-banner-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-button-group-normal-gap: var(--dimension-spacing-gap-20);
  --dimension-spacing-button-group-dense-gap: var(--dimension-spacing-gap-12);
  --dimension-spacing-card-base-top-container-sm-padding: var(--dimension-spacing-padding-4);
  --dimension-spacing-card-base-bottom-elements-sm-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-card-base-meta-container-sm-gap: var(--dimension-spacing-padding-4);
  --dimension-spacing-card-base-meta-container-sm-y-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-card-base-meta-container-tertiary-data-sm-gap: var(--dimension-spacing-padding-8);
  --dimension-spacing-card-base-bottom-elements-sm-x-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-card-base-bottom-elements-sm-top-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-card-base-bottom-elements-sm-bottom-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-card-cta-sm-gap: var(--dimension-spacing-gap-4);
  --dimension-spacing-card-cta-lg-gap: var(--dimension-spacing-gap-12);
  --dimension-spacing-carousel-row-base-sm-gap: var(--dimension-spacing-gap-16);
  --dimension-spacing-carousel-row-ctv-gap: var(--dimension-spacing-gap-24);
  --dimension-spacing-carousel-row-ctv-x-padding: var(--dimension-spacing-padding-48);
  --dimension-spacing-carousel-row-ctv-episode-list-item-gap: var(--dimension-spacing-gap-20);
  --dimension-spacing-carousel-row-ctv-episode-list-item-left-padding: var(--dimension-spacing-padding-32);
  --dimension-spacing-carousel-row-ctv-episode-list-item-heading-gap: var(--dimension-spacing-gap-12);
  --dimension-spacing-carousel-row-ctv-episode-list-gap: var(--dimension-spacing-gap-56);
  --dimension-spacing-carousel-row-web-row-heading-gap: var(--dimension-spacing-gap-4);
  --dimension-spacing-carousel-hero-base-bottom-padding: var(--dimension-spacing-padding-80);
  --dimension-spacing-carousel-hero-data-sm-x-gap: var(--dimension-spacing-gap-12);
  --dimension-spacing-carousel-hero-data-sm-y-gap: var(--dimension-spacing-gap-4);
  --dimension-spacing-carousel-hero-data-lg-x-gap: var(--dimension-spacing-gap-20);
  --dimension-spacing-carousel-hero-data-lg-y-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-carousel-row-web-gap: var(--dimension-spacing-gap-16);
  --dimension-spacing-carousel-row-web-x-padding: var(--dimension-spacing-padding-32);
  --dimension-spacing-checkbox-sm-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-checkbox-lg-gap: var(--dimension-spacing-gap-16);
  --dimension-spacing-form-feedback-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-input-form-control-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-input-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-input-form-control-x-padding: var(--dimension-spacing-padding-24);
  --dimension-spacing-input-form-control-y-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-form-feedback-x-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-form-feedback-y-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-page-control-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-progress-bar-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-radio-sm-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-radio-lg-gap: var(--dimension-spacing-gap-16);
  --dimension-spacing-tabs-item-sm-top-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-tabs-item-md-top-padding: var(--dimension-spacing-padding-12);
  --dimension-spacing-tabs-gap: var(--dimension-spacing-gap-48);
  --dimension-spacing-toggle-sm-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-toggle-lg-gap: var(--dimension-spacing-gap-12);
  --dimension-spacing-tooltip-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-tooltip-x-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-tooltip-y-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-card-base-top-container-lg-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-card-base-bottom-elements-lg-gap: var(--dimension-spacing-gap-16);
  --dimension-spacing-card-base-meta-container-lg-gap: var(--dimension-spacing-padding-8);
  --dimension-spacing-card-base-meta-container-lg-top-padding: var(--dimension-spacing-padding-12);
  --dimension-spacing-card-base-meta-container-lg-bottom-padding: var(--dimension-spacing-padding-8);
  --dimension-spacing-card-base-meta-container-tertiary-data-lg-x-gap: var(--dimension-spacing-padding-16);
  --dimension-spacing-card-base-meta-container-tertiary-data-lg-y-gap: var(--dimension-spacing-padding-12);
  --dimension-spacing-card-base-bottom-elements-lg-x-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-card-base-bottom-elements-lg-top-padding: var(--dimension-spacing-padding-32);
  --dimension-spacing-card-base-bottom-elements-lg-bottom-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-carousel-row-smd-gap: var(--dimension-spacing-gap-16);
  --dimension-spacing-carousel-row-smd-x-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-carousel-row-base-lg-gap: var(--dimension-spacing-gap-32);
  --dimension-spacing-carousel-hero-locked-content-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-carousel-hero-block-sm-gap: var(--dimension-spacing-gap-16);
  --dimension-spacing-carousel-hero-block-lg-gap: var(--dimension-spacing-gap-24);
  --dimension-spacing-carousel-hero-block-sm-x-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-carousel-hero-block-bones-sm-gap: var(--dimension-spacing-gap-20);
  --dimension-spacing-carousel-hero-block-bones-sm-x-padding: var(--dimension-spacing-padding-16);
  --dimension-spacing-carousel-hero-block-bones-lg-gap: var(--dimension-spacing-gap-48);
  --dimension-spacing-carousel-hero-block-bones-lg-y-padding: var(--dimension-spacing-gap-24);
  --dimension-opacity-card-meta-container-enabled-opacity: var(--dimension-opacity-enabled);
  --dimension-border-radius-badge-base-sm-radius: var(--dimension-border-radius-xsm);
  --dimension-border-radius-badge-base-md-radius: var(--dimension-border-radius-sm);
  --dimension-border-radius-badge-base-lg-radius: var(--dimension-border-radius-md);
  --dimension-border-radius-badge-a11y-xsm-radius: var(--dimension-border-radius-xsm);
  --dimension-border-radius-badge-a11y-sm-radius: var(--dimension-border-radius-xsm);
  --dimension-border-radius-badge-a11y-md-radius: var(--dimension-border-radius-sm);
  --dimension-border-radius-badge-a11y-lg-radius: var(--dimension-border-radius-md);
  --dimension-border-radius-button-circle-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-button-pill-sm-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-button-pill-md-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-button-pill-lg-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-button-pill-xlg-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-button-progress-x-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-button-progress-container-radius: var(--dimension-border-radius-xsm);
  --dimension-border-radius-card-base-image-container-sm-radius: var(--dimension-border-radius-sm);
  --dimension-border-radius-card-base-image-container-lg-radius: var(--dimension-border-radius-md);
  --dimension-border-radius-card-base-check-icon-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-card-base-selected-overlay-sm-radius: var(--dimension-border-radius-sm);
  --dimension-border-radius-card-base-selected-overlay-lg-radius: var(--dimension-border-radius-md);
  --dimension-border-radius-card-cta-sm-radius: var(--dimension-border-radius-sm);
  --dimension-border-radius-card-cta-lg-radius: var(--dimension-border-radius-md);
  --dimension-border-radius-checkbox-sm-radius: var(--dimension-border-radius-xsm);
  --dimension-border-radius-checkbox-lg-radius: var(--dimension-border-radius-sm);
  --dimension-border-radius-form-feedback-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-outline-pill-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-outline-circle-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-outline-rectangle-lg-radius: var(--dimension-border-radius-lg);
  --dimension-border-radius-page-control-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-progress-bar-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-qr-code-radius: var(--dimension-border-radius-xlg);
  --dimension-border-radius-radio-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-tabs-item-top-radius: var(--dimension-border-radius-md);
  --dimension-border-radius-toggle-knob-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-toggle-track-radius: var(--dimension-border-radius-pill);
  --dimension-border-radius-tooltip-radius: var(--dimension-border-radius-md);
  --dimension-border-width-badge-sm-width: var(--dimension-border-width-sm);
  --dimension-border-width-badge-lg-width: var(--dimension-border-width-md);
  --dimension-border-width-button-width: var(--dimension-border-width-md);
  --dimension-border-width-checkbox-sm-width: var(--dimension-border-width-md);
  --dimension-border-width-checkbox-lg-width: var(--dimension-border-width-lg);
  --dimension-border-width-outline-sm-width: var(--dimension-border-width-md);
  --dimension-border-width-outline-lg-width: var(--dimension-border-width-lg);
  --dimension-border-width-radio-sm-width: var(--dimension-border-width-md);
  --dimension-border-width-radio-lg-width: var(--dimension-border-width-lg);
  --dimension-border-width-input-width: var(--dimension-border-width-lg);
  --dimension-opacity-toggle-disabled-opacity: var(--dimension-opacity-disabled);
  --dimension-size-badge-base-sm-height: var(--dimension-size-16);
  --dimension-size-button-pill-sm-default-height: var(--dimension-size-32);
  --dimension-size-button-pill-md-default-height: var(--dimension-size-40);
  --dimension-size-button-pill-lg-default-height: var(--dimension-size-48);
  --dimension-size-button-pill-xlg-default-height: var(--dimension-size-64);
  --dimension-size-button-circle-sm-default-square: var(--dimension-size-32);
  --dimension-size-button-circle-md-default-square: var(--dimension-size-40);
  --dimension-size-button-circle-lg-default-square: var(--dimension-size-48);
  --dimension-size-button-circle-xlg-default-square: var(--dimension-size-64);
  --dimension-size-button-progress-sm-height: var(--dimension-size-32);
  --dimension-size-button-progress-lg-height: var(--dimension-size-48);
  --dimension-size-button-endcard-height: var(--dimension-size-48);
  --dimension-size-card-base-16-9-xxsm-width: var(--dimension-size-160);
  --dimension-size-carousel-row-xsm-width: var(--dimension-size-breakpoint-xsm);
  --dimension-size-carousel-row-md-width: var(--dimension-size-breakpoint-md);
  --dimension-size-carousel-row-xlg-width: var(--dimension-size-breakpoint-xlg);
  --dimension-size-carousel-row-xxlg-width: var(--dimension-size-breakpoint-xxlg);
  --dimension-size-card-base-16-9-xsm-width: var(--dimension-size-192);
  --dimension-size-card-base-16-9-sm-width: var(--dimension-size-224);
  --dimension-size-card-base-16-9-md-width: var(--dimension-size-256);
  --dimension-size-card-base-16-9-lg-width: var(--dimension-size-368);
  --dimension-size-card-base-16-9-xlg-width: var(--dimension-size-480);
  --dimension-size-card-base-16-9-xxlg-width: var(--dimension-size-768);
  --dimension-size-card-base-2-3-sm-width: var(--dimension-size-128);
  --dimension-size-card-base-2-3-md-width: var(--dimension-size-144);
  --dimension-size-card-base-2-3-lg-width: var(--dimension-size-160);
  --dimension-size-card-base-2-3-xlg-width: var(--dimension-size-192);
  --dimension-size-card-base-1-1-sm-square: var(--dimension-size-160);
  --dimension-size-card-base-1-1-md-square: var(--dimension-size-192);
  --dimension-size-card-base-1-1-lg-square: var(--dimension-size-224);
  --dimension-size-card-base-1-1-xlg-square: var(--dimension-size-256);
  --dimension-size-card-cta-16-9-xxsm-width: var(--dimension-size-160);
  --dimension-size-card-cta-16-9-xsm-width: var(--dimension-size-192);
  --dimension-size-card-cta-16-9-sm-width: var(--dimension-size-224);
  --dimension-size-card-cta-16-9-md-width: var(--dimension-size-256);
  --dimension-size-card-cta-16-9-lg-width: var(--dimension-size-368);
  --dimension-size-card-cta-16-9-xlg-width: var(--dimension-size-480);
  --dimension-size-card-cta-16-9-xxlg-width: var(--dimension-size-768);
  --dimension-size-card-cta-2-3-sm-width: var(--dimension-size-128);
  --dimension-size-card-cta-2-3-md-width: var(--dimension-size-144);
  --dimension-size-card-cta-2-3-lg-width: var(--dimension-size-160);
  --dimension-size-card-cta-2-3-xlg-width: var(--dimension-size-192);
  --dimension-size-card-cta-1-1-sm-square: var(--dimension-size-160);
  --dimension-size-card-cta-1-1-md-square: var(--dimension-size-192);
  --dimension-size-card-cta-1-1-lg-square: var(--dimension-size-224);
  --dimension-size-card-cta-1-1-xlg-square: var(--dimension-size-256);
  --dimension-size-checkbox-sm-default-square: var(--dimension-size-16);
  --dimension-size-checkbox-lg-default-square: var(--dimension-size-32);
  --dimension-size-form-feedback-height: var(--dimension-size-52);
  --dimension-size-badge-base-md-height: var(--dimension-size-24);
  --dimension-size-badge-base-lg-height: var(--dimension-size-32);
  --dimension-size-badge-base-live-indicator-dot-sm-square: var(--dimension-size-4);
  --dimension-size-badge-base-live-indicator-dot-md-square: var(--dimension-size-6);
  --dimension-size-badge-base-live-indicator-dot-lg-square: var(--dimension-size-8);
  --dimension-size-badge-a11y-xsm-height: var(--dimension-size-12);
  --dimension-size-badge-a11y-sm-height: var(--dimension-size-16);
  --dimension-size-badge-a11y-md-height: var(--dimension-size-16);
  --dimension-size-badge-a11y-lg-height: var(--dimension-size-32);
  --dimension-size-input-height: var(--dimension-size-104);
  --dimension-size-input-icon-square: var(--dimension-size-32);
  --dimension-size-input-icon-trigger-square: var(--dimension-size-48);
  --dimension-size-page-control-sm-square: var(--dimension-size-8);
  --dimension-size-page-control-lg-square: var(--dimension-size-20);
  --dimension-size-progress-bar-sm-height: var(--dimension-size-6);
  --dimension-size-progress-bar-lg-height: var(--dimension-size-12);
  --dimension-size-qr-code-sm-square: var(--dimension-size-228);
  --dimension-size-qr-code-md-square: var(--dimension-size-408);
  --dimension-size-qr-code-lg-square: var(--dimension-size-568);
  --dimension-size-radio-sm-default-square: var(--dimension-size-16);
  --dimension-size-radio-lg-default-square: var(--dimension-size-32);
  --dimension-size-tabs-item-sm-height: var(--dimension-size-32);
  --dimension-size-tabs-item-md-height: var(--dimension-size-48);
  --dimension-size-tabs-item-lg-height: var(--dimension-size-64);
  --dimension-size-toggle-knob-sm-default-square: var(--dimension-size-20);
  --dimension-size-toggle-track-sm-width: var(--dimension-size-36);
  --dimension-size-toggle-knob-lg-default-square: var(--dimension-size-28);
  --dimension-size-toggle-track-sm-height: var(--dimension-size-16);
  --dimension-size-toggle-track-lg-width: var(--dimension-size-44);
  --dimension-size-toggle-track-lg-height: var(--dimension-size-20);
  --dimension-size-carousel-hero-xsm-width: var(--dimension-size-breakpoint-xsm);
  --dimension-size-carousel-hero-md-width: var(--dimension-size-breakpoint-md);
  --dimension-size-carousel-hero-lg-width: var(--dimension-size-breakpoint-lg);
  --dimension-size-carousel-hero-xlg-width: var(--dimension-size-breakpoint-xlg);
  --dimension-size-carousel-hero-xxlg-width: var(--dimension-size-breakpoint-xxlg);
  --dimension-spacing-input-hint-gap: var(--dimension-spacing-gap-8);
  --dimension-spacing-input-hint-x-padding: var(--dimension-spacing-padding-24);
  --dimension-spacing-tabs-item-lg-top-padding: var(--dimension-spacing-padding-16);
}